<!DOCTYPE html>
<!--[if lt IE 7]>   <html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>      <html class="no-js lt-ie10 lt-ie9 is-ie8"> <![endif]-->
<!--[if IE 9]>      <html class="no-js lt-ie10 is-ie9"> <![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
  <head>

    <meta charset="UTF-8">

    <title>{{file.meta.title}} - {{site.title}}</title>

    <!-- so:meta-->
    <meta charset="utf-8">
    <meta name="robots" content="all" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{site.description}}" />
    <meta name="keywords" content="{{site.keywords}}" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="en" />
    <meta name="robots" content="noodp,noydir" />
    <meta name="author" content="{{site.author}}" />
    <meta name="copyright" content="{{getYear}}, {{site.title}}" />
    <meta name="Geo.Country" content="GB" />
    <meta name="Geo.Region" content="GB-BST" />
    <!-- eo:meta-->

    <!--Twitter-->
    <meta name="twitter:card" content="mypicture">
    <meta name="twitter:site" content="{{site.twitter}}">
    <meta name="twitter:title" content="{{site.title}}">
    <meta name="twitter:description" content="{{site.description}}">
    <meta name="twitter:image" content="{{site.image}}">

    <!--Facebook-->
    <meta property="og:image" content="{{site.image}}" itemprop="thumbnailUrl">
    <meta property="og:title" content="{{site.title}}">
    <meta property="og:url" content="{{site.description}}">
    <meta property="og:site_name" content="{{site.facebook}}">

    <!-- so:stylesheets -->
      <link rel="stylesheet" href="/assets/css/style.min.css">
      <!--[if lte IE 9]><![endif]-->
      {{#if (content "override_styles")}}
      <style>
        {{#block "override_styles"}}{{/block}}
      </style>
      {{/if}}
    <!-- eo:stylesheets -->

    <!-- so:favicon -->
    <!-- eo:favicon -->

    <!-- so:header JS -->
    <script src="/assets/js/vendor/modernizr.js"></script>
    <!-- eo:header JS -->

  </head>
  <body class="{{file.meta.body_classes}}">

    {{svgSymbols}}

    {{> "global/_header"}}

    <div class="page">
      {{#block "page"}}{{/block}}
    </div>

    {{> "global/_footer"}}

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.11.2.js"><\/script>')</script>
    <script src="/assets/js/scripts.js"></script>

  </body>
</html>